body {
  background-color: #E3FDFD;
 }

* {
color: #071E3D;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* HEADER */
header {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

img {
  margin-left: 100px;
}

ul {
  width: 60%;

  list-style-type: none;
  display: flex;
  justify-content: space-between;
  margin-right: 100px;
}

a {
  text-decoration: none;
    font-size: 2rem;
}

/* sections WELCOME & HISTORY*/
#welcome {
  display: flex;
  margin: 50px 100px;

  height: 400px;
  background-image: url(src/water-green.jpg);
  background-size: cover;
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
  margin-left: auto;
  margin-right: auto;
}

#history {
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 100px;
}

h2 {
  margin: 0 auto;
  font-size: 3rem;
}

p {
  text-align: justify;
}

/* section HEROES*/

#heroes {
  margin-top: 50px;
  margin-left: 100px;
  margin-right: 100px;
}
.flex-container {
  display: flex;
  justify-content: space-around;
  margin-top: 100px;
}

.heros-title {
  margin-left: 100px;
}

.hero p {
  text-align: center;
  width: 200px;
}

.heroName  {
  font-size: x-large;
  color: #FF4646;
}

.hero img {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}

/* section INVENTORY*/

#inventory {
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
  }
.ship-inventory {
    margin-left: 100px;
  }

  table, td , th {
border: 1px solid darkgrey;
text-align: center;
font-size: 1.5rem;
  }

 
  table {
width: 100%;
border-collapse:collapse;
margin-top: 50px;
font-weight: 18px;

  }

  th
  {
      height: 60px;
      background-color: #A6E3E9;
  }

  td
  {
      height: 40px;
  }
  
  tr:hover
  {background-color: #CBF1F5;}

 /* section CONTACT*/

 #contact {
  margin-top: 50px;
  margin-left: 100px;
  margin-right: 100px;
}

form {
  margin-top: 50px;
}
 input {
   width: 100%;
   padding: 12px 20px;
   border-radius: 4px;
   border: 1px solid lightgrey;
 }

 label {
   display: inline-block;
   margin: 10px 3px;
   
 }

 ::placeholder{
   color: #71C9CE;
 }
 .button {
   margin-top: 20px;
   border: none;
   border-radius: 4px;
   cursor: pointer;
  float: right;
  padding: 12px 20px;
  width: 100px;
  background-color: #71C9CE;
 }