body 
{
background-color: azure;

}

header
{
    display: flex;
    width: 100%;
    justify-content: space-between;
    
}

img {
    margin-left: 100px;
}

ul{
        width: 60%;
        
        list-style-type: none;
        display: flex;
        justify-content: space-between;
        margin-right: 100px;
}

a{
    text-decoration: none;
    color: black;
    font-size: 2.5rem;
    
}

#welcome {
    display:flex;
    margin: 50px 100px;
  
    height: 400px;
    background-image: url(src/water-green.jpg);
    background-size: cover;
   
    
}

h1{
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 6rem;
      margin-left: auto;
    margin-right: auto;
   
}

#history {
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 100px;
}

h2 {
margin: 0 auto;
font-size: 3rem;
}

p{
    text-align: justify;
}

.flex-container {
    display:flex;
    margin-left: 100px;
    margin-right: 100px;
}

.heros-title {
    margin-left: 150px;
}
